<div class="hero-unit">
  <h2>All Issues</h2>
  <%- linkTo('Create a new Issue', addIssuePath, {class: 'btn pull-right'}); %>
</div>

<div id="issues-list">
<% if (issues) { %>
<% for (var i = 0, ii = issues.length; i < ii; i++) { %>
  <div class="row list-item" id="issue-<%= issues[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(issues[i].title, issuePath(issues[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= issues[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>